#navbar {
    background-color: #0099CC;
}
button {
    background-color: #0099CC!important;
    color: #ffffff!important;
}
.navbar-brand {
    color: #ffffff!important;
    display: flex;
    flex: 1;
    justify-content: center;
}
.navbar-collapse {
    flex-grow: 0;
}
.nav-link {
    color: #ffffff!important;
    text-decoration: none!important;
}
.loading {
    display: flex;    
    flex: 1;
    font-size: 2.5rem;
    justify-content: center;
    margin: 1rem 0;
}
.card-header {
    font-weight: bold;
}
.card-body {
    overflow-y: scroll;
    max-height: 700px;
}
.content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.paginator {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
@media screen and (min-width: 1200px) {
    .nav-item {
        margin: 0 .5rem;
    }
}